* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black-thing {
    background-color: #000000;
}

.Part-Name {
    font-size: 4rem;
    font-family: 'Archivo Black', sans-serif;
    background-color: #000;
    color: white;
}

.List-of-exc{
    color: white;
}

.Exc-Name , .Reps , .Weights{
    font-family: norwester;
}