* {
    margin: 0;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin new_response($size) {
    @media (max-width : $size) {
        @content;
    }
}

main {
    background-color: beige;
}

menu {
    background-color: rgb(101, 97, 97);

    a {
        font-size: 4vh;
        color: white;

        &:hover i {
            color: rgb(18, 87, 48);
            transform: scale(1.2);
            transition: all 0.5s ease;
        }
    }

}

.current {
    // border-bottom: 2px solid rgb(18, 87, 48) ;
    color: rgb(18, 87, 48);

}

.current:hover {
    color: white;
    transition: all 0.2 ease;
}


.intro {
    color: rgb(101, 97, 97);

    .highlight {
        color: rgb(18, 87, 48);
    }

    .name {
        font-size: 8vh;
        white-space: nowrap;
        letter-spacing: 0.1vw;
        // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(18, 87, 48);
        font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
    }

    .about-me {
        margin: 1vh 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.35vw;
    }

    .specialization {

        color: white;
        font-size: 1.7vw;
        line-height: 3.419vw;

        .Inhigh {
            color: rgb(249, 249, 20);
        }
    }
}

@include new_response(400px) {
    .intro {
        .name {
            font-size: 5vh;
            white-space: nowrap;
            letter-spacing: 0.1vw;
            // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(18, 87, 48);
            font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
        }

        .about-me {
            margin: 1vh 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.35vw;
        }

        .specialization {

            color: white;
            font-size: 1.7vw;
            line-height: 3.419vw;

            .Inhigh {
                color: rgb(249, 249, 20);
            }
        }
    }
}