* {
    margin: 0;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --gren: #1c2517;
    --high: #FFDE82;
    --light_brown: #CAA74E;
    --dark_brown: #917319;
    --len: 100px;
}

@mixin new_response($size) {
    @media (min-width : $size) {
        @content;
    }
}

.cursor {
    background-color: var(--dark_brown);
    color: white;
    text-transform: uppercase;

}

menu {
    background-color: var(--gren);

    a {
        font-size: 3vh;
        color: white;

        &:hover i {
            color: var(--light_brown);
            transform: scale(1.2);
            transition: all 0.5s ease;
        }
    }

}

.current {
    // border-bottom: 2px solid rgb(18, 87, 48) ;
    color: var(--light_brown);

}

.intro {
    color: rgb(101, 97, 97);
    opacity: 0;
    transform: scale(0);

    .highlight {
        color: rgb(18, 87, 48);
    }

    .name {
        text-transform: uppercase;
        font-size: 7vw;
        position: relative;
        right: 0.51em;
        letter-spacing: 0.1vw;
        color: var(--gren);
        white-space: nowrap;
        font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
    }

    .about-me {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--light_brown);
        font-size: 3.4vw;
    }

    .specialization {
        background-color: var(--gren);
        color: white;
        font-size: 4.5vw;

        // .Inhigh {
        //     color: rgb(249, 249, 20);
        // }
    }
}

@include new_response(1000px) {
    .intro {
        .name {
            font-size: 300%;
            letter-spacing: 0.1vw;
            right: 0em;

        }

        .about-me {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.35rem;
        }

        .specialization {

            color: white;
            font-size: 1.59rem;
            line-height: 3.419vw;
        }
    }
}