@mixin response($size) {
    @media (min-width : $size) {
        @content;
    }
}

@mixin centering_across($dire) {
    display: flex;
    flex-direction: $dire;
    align-items: center;
    justify-content: center;
}

@mixin image_prp($wi , $he) {
    width: $wi;
    height: $he;
    object-fit: cover;
    object-position: center;
}

:root {
    --len:100px;
}
.cursor{
    height: var(--len);
    width: var(--len);
    position: fixed;
    padding: 50px;
    font-size: 0.8rem;
    border-radius: 50%;
    z-index: 200;
    @include centering_across(row);
    transform: translate(-50% , -50%);
    opacity: 0;
    transform: scale(0);
}

menu {
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0 3vw;
    width: 100%;
    @include centering_across(row);
    justify-content: space-between;
    height: 50px;

    img {
        // @include image_prp(8.5%, 8.5%);
        max-width: 50px;
        max-height: 50px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 1.5vh 0;
        gap: 2.3vw;

        li a {
            display: flex;
            justify-content: flex-start;
            gap: 1vw;
            text-decoration: none;
            span {
                display: none;
            }
        }
    }
}

main {
    max-width: 1434px;
    margin: 0 auto;
    min-height: 100vh;
    @include centering_across(column);
}

.container {
    width: 80%;
    @include centering_across(row);

    img {
        @include image_prp(70%, 70%);
    }
}

.intro {
    width: 70%;
    max-width: 700px;
}

.about-me {
    margin: 2.3vh 0;
}

.specialization {
    padding: 0.5em;
    // padding-left: 2.5vw;
    width: 100%;
    border-radius: 25px;
    @include centering_across(row);
    margin-bottom: 1vh;

    img {
        @include image_prp(7.5%, 7.5%);

        margin-left: 1.5vw;

        .canva {
            display: block;
            border-radius: 10px;
        }
    }
}

@include response(800px) {
    menu {
        height: 80px;
    }
}

@include response(1000px) {

    main {
        @include centering_across(row-reverse);
        justify-content: space-between;
    }

    .container {
        padding-left: 5vw;
        width: 48%;
    }

    .intro {
        width: 48%;
        padding-left: 5vw;
    }

    .name {
        text-align: start;
    }

    .about-me {
        width: 100%;
        margin: 3vh 0;
        white-space: wrap;
    }

    .specialization {
        @include centering_across(row);
        justify-content: flex-start;
        margin-bottom: 2.6vh;

        img {
            height: 5.7%;
            width: 5.7%;
        }
    }

}