* {
  margin: 0;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  background-color: beige;
}

menu {
  background-color: rgb(101, 97, 97);
}
menu a {
  font-size: 4vh;
  color: white;
}
menu a:hover i {
  color: rgb(18, 87, 48);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.current {
  color: rgb(18, 87, 48);
}

.current:hover {
  color: white;
  transition: all 0.2 ease;
}

.intro {
  color: rgb(101, 97, 97);
}
.intro .highlight {
  color: rgb(18, 87, 48);
}
.intro .name {
  font-size: 8vh;
  white-space: nowrap;
  letter-spacing: 0.1vw;
  color: rgb(18, 87, 48);
  font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
}
.intro .about-me {
  margin: 1vh 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.35vw;
}
.intro .specialization {
  color: white;
  font-size: 1.7vw;
  line-height: 3.419vw;
}
.intro .specialization .Inhigh {
  color: rgb(249, 249, 20);
}

@media (max-width: 400px) {
  .intro .name {
    font-size: 5vh;
    white-space: nowrap;
    letter-spacing: 0.1vw;
    color: rgb(18, 87, 48);
    font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
  }
  .intro .about-me {
    margin: 1vh 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.35vw;
  }
  .intro .specialization {
    color: white;
    font-size: 1.7vw;
    line-height: 3.419vw;
  }
  .intro .specialization .Inhigh {
    color: rgb(249, 249, 20);
  }
}
main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

menu {
  position: fixed;
  left: 5%;
  top: 29vh;
  border-radius: 20px;
  z-index: 100;
}
menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1vh;
}
menu ul li {
  margin: 1vh 0;
}
menu ul li a {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  text-decoration: none;
}
menu ul li a span {
  display: none;
}

.container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 100%;
  height: 100%;
  margin-left: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.at-angle {
  position: absolute;
  left: 37%;
  z-index: 2;
  width: 10%;
  height: 150vh;
  background-color: beige;
  transform-origin: 50% 95%;
  transform: rotateZ(6deg) translate(120%, -10%);
}

.intro {
  position: absolute;
  top: 30vh;
  left: 9.5vw;
  width: 50%;
  z-index: 30;
}

.specialization {
  padding: 1vh;
  padding-left: 2.5vw;
  width: 90%;
  background-color: rgb(101, 97, 97);
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}
.specialization img {
  height: 5%;
  width: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: 0.9vw;
}
.specialization img .canva {
  display: block;
  border-radius: 10px;
}

@media (max-width: 400px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  menu {
    left: 13%;
    top: 2vh;
    padding: 0 1.5vw;
  }
  menu ul {
    flex-direction: row;
    gap: 5vw;
  }
  .at-angle {
    display: none;
  }
  .container {
    order: 2;
  }
  .container img {
    border-radius: 50%;
    width: 100%;
    height: 30%;
    margin-left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .intro {
    order: 1;
    position: relative;
    left: 0vw;
    width: 50%;
    z-index: 30;
  }
  .specialization {
    padding: 1vh;
    padding-left: 0vw;
    background-color: rgb(101, 97, 97);
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 0vh;
  }
  .specialization img {
    height: 5%;
    width: 5%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin-left: 0;
  }
  .specialization img .canva {
    display: block;
    border-radius: 10px;
  }
}/*# sourceMappingURL=ind.css.map */