* {
  margin: 0;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --gren: rgb(18, 87, 48);
  --high: rgb(249, 249, 20);
}

menu {
  background-color: rgb(0, 0, 0);
}
menu a {
  font-size: 3vh;
  color: white;
}
menu a:hover i {
  color: rgb(18, 87, 48);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.current {
  color: rgb(18, 87, 48);
}

.current:hover {
  color: white;
  transition: all 0.2 ease;
}

.intro {
  color: rgb(101, 97, 97);
}
.intro .highlight {
  color: rgb(18, 87, 48);
}
.intro .name {
  font-size: 7.5vw;
  letter-spacing: 0.1vw;
  color: rgb(18, 87, 48);
  white-space: nowrap;
  font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
}
.intro .about-me {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.4vw;
}
.intro .specialization {
  background-color: rgb(101, 97, 97);
  color: white;
  font-size: 4.5vw;
}

@media (min-width: 1000px) {
  .intro .name {
    font-size: 300%;
    letter-spacing: 0.1vw;
  }
  .intro .about-me {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.35rem;
  }
  .intro .specialization {
    color: white;
    font-size: 1.59rem;
    line-height: 3.419vw;
  }
}
menu {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 3vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 50px;
}
menu img {
  max-width: 50px;
  max-height: 50px;
}
menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1.5vh 0;
  gap: 2.3vw;
}
menu ul li a {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  text-decoration: none;
}
menu ul li a span {
  display: none;
}

main {
  max-width: 1434px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.intro {
  width: 70%;
  max-width: 700px;
}

.about-me {
  margin: 2.3vh 0;
}

.specialization {
  padding: 0.5em;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}
.specialization img {
  width: 7.5%;
  height: 7.5%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: 1.5vw;
}
.specialization img .canva {
  display: block;
  border-radius: 10px;
}

@media (min-width: 800px) {
  menu {
    height: 80px;
  }
}
@media (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .container {
    padding-left: 5vw;
    width: 48%;
  }
  .intro {
    width: 48%;
    padding-left: 5vw;
  }
  .name {
    text-align: start;
  }
  .about-me {
    width: 100%;
    margin: 3vh 0;
    white-space: wrap;
  }
  .specialization {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    margin-bottom: 2.6vh;
  }
  .specialization img {
    height: 5.7%;
    width: 5.7%;
  }
}/*# sourceMappingURL=ind.css.map */